<div class="card">
  <div class="card-header">
    Gran DT
  </div>
  <div class="card-body">
    <h5 class="card-title">Team removed</h5>
    <p class="card-text">Let's create new teams!</p>
    <a href="/" class="btn btn-primary">Save changes</a>
  </div>
</div>